* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.bannersection {
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    padding: 100px 200px 0px 200px;
}

.bannerimg {
    height: 500px;
    width: 400px;
    margin-bottom: -5px;
}

.contentcolumn{
    margin-right: 90px;
    padding-top: 70px;
}

.contentcolumn h2 {
    color: #272727;
    font-size:55px;
    font-weight: 800;
    line-height: 60px;
}

.contentcolumn p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 20px;
}

.contentcolumn button{
    padding: 10px 23px;
    border: none;
    background-color: #E55473;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
}




/* Main Section Starts */
main {
    padding: 100px 200px;
}


/* Our Featured Flower Section CSS */
.featuredh3 {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-top: 10px;
}

.featuredp {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}

.featuredimages {
    display: flex;
}

.flowerimages {
    border-radius: 300px 300px 0px 0px;
    height: 900px;
}

.flowerone{
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 300px;
}

.featuredimagetitle {
    display: flex;
    justify-content: space-around;
}